@import "screensize";

#pageContainer {
	height: 100vh;
	background: transparent;
}

@media @custom-media-tablet-portrait-up {

	#pageContainer {
		display: grid;
		grid-template-columns: 25% 1fr 25%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: .5rem;
	}

	.panels  {
		display: flex;
		justify-content: space-between;

	}

	.panels li {
		width: 27%;
	}
}

@media @custom-media-tablet-landscape-up {
	#pageContainer {
		display: grid;
		grid-template-columns: 24% 1fr 25%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: .7rem;
	}
}

@media @custom-media-desktop-up {
	#pageContainer {
		display: grid;
		grid-template-columns: 21% 1fr 25%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: 1rem;
	}
}

@media @custom-media-large-desktop-up {
	#pageContainer {
		display: grid;
		grid-template-columns: 20% 1fr 25%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: 1.5rem;
	}
}

.mainHeader {
	grid-area: header;
}

#sideNavWrapper {
	grid-area: sidenav;
	padding: 5px;
	// min-width: 160px;
	margin-left: @mainContent-margin;
	
	@media @custom-media-tablet-portrait-up {
		margin-left: @mainContent-margin-tablet-portrait-up;
	}
	@media @custom-media-tablet-landscape-up {
		margin-left: @mainContent-margin-tablet-landscape-up;
		padding: 10px;
	}
	@media @custom-media-desktop-up {
		margin-left: @mainContent-margin-desktop-up;
		padding: 10px;
	}
	@media @custom-media-large-desktop-up {
		margin-left: @mainContent-margin-large-desktop-up;
		padding: 10px;
	}
}

#mainContentWrapper {
	grid-area: main;
	padding: 5px;
	margin-right: @mainContent-margin;
	
	@media @custom-media-tablet-portrait-up {
		margin-right: @mainContent-margin-tablet-portrait-up;
	}
	@media @custom-media-tablet-landscape-up {
		margin-right: @mainContent-margin-tablet-landscape-up;
		padding: 10px;
	}
	@media @custom-media-desktop-up {
		margin-right: @mainContent-margin-desktop-up;
		padding: 10px;
	}
	@media @custom-media-large-desktop-up {
		margin-right: @mainContent-margin-large-desktop-up;
		padding: 10px;
	}
}
.mainFooter {
	grid-area: footer;
}

#rightWidgetWrapper {
	// min-width: 250px;
}

@media @custom-media-desktop-up {
	#widgetPage #pageContainer {
		display:grid;
		grid-template-columns:  20% 1fr 20%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: 2%;
	}
}

@media @custom-media-large-desktop-up {
	#widgetPage #pageContainer {
		display:grid;
		grid-template-columns:  20% 1fr 20%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main main"
		"footer footer footer";
		grid-column-gap: 3%;
	}
}

// Widget pages with right side widgets
@media @custom-media-desktop-up {
	#widgetPage #pageContainer {
		display:grid;
		grid-template-columns:  20% 60% 20%;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
		"header header header"
		"sidenav main aside"
		"footer footer footer";
	}

}


