/*	Variables
-----------------------------*/
@container-max-width: 1200px;

// Media Breaks
@screen-small: 480px;
@screen-medium: 768px;
@screen-large: 1030px;
@screen-ex-large: 1200px;

@custom-media-small: ~"only screen and (min-width:" @screen-small~")";
@custom-media-medium: ~"only screen and (min-width:" @screen-medium~")";
@custom-media-large: ~"only screen and (min-width:" @screen-large~")";
@custom-media-ex-large: ~"only screen and (min-width:" @screen-ex-large~")";