/*	Variables
-----------------------------*/
// Media Breaks
@screen-mobile-only: 600px;
@screen-tablet-portrait-up: 600px;
@screen-tablet-landscape-up: 900px;
@screen-desktop-up: 1200px;
@screen-large-desktop-up: 1800px;

// main content margins -- used to set left and right margins on sidenav and maincontent respectively
@mainContent-margin: 3px;
@mainContent-margin-tablet-portrait-up: .5rem;
@mainContent-margin-tablet-landscape-up: 1rem;
@mainContent-margin-desktop-up: 1.5rem;
@mainContent-margin-large-desktop-up: 2.25rem;

// Media queries
@custom-media-mobile-only: ~"only screen and (max-width:" @screen-mobile-only~")";
@custom-media-tablet-portrait-up: ~"only screen and (min-width:" @screen-tablet-portrait-up~")";
@custom-media-tablet-landscape-up: ~"only screen and (min-width:" @screen-tablet-landscape-up~")";
@custom-media-desktop-up: ~"only screen and (min-width:" @screen-desktop-up~")";
@custom-media-large-desktop-up: ~"only screen and (min-width:" @screen-large-desktop-up~")";